<div
    class="bg-[#FAFAFA] border-2 border-gray-200 shadow-xl relative container max-w-lg mx-auto h-screen overflow-scroll min-h-screen">

    <div class="flex relative w-full p-3 shadow-sm border-b-[1px] items-center justify-center border-[#DBDBDB]">
        <button (click)="showMoreMenu()"
            class="absolute left-0 top-0 bottom-0 flex items-center justify-center px-2 cursor-pointer">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.7504 3.99961C16.7504 4.19961 16.7004 4.39961 16.5504 4.54961L9.05039 11.9996L16.5504 19.4496C16.8504 19.7496 16.8504 20.1996 16.5504 20.4996C16.2504 20.7996 15.8004 20.7996 15.5004 20.4996L7.50039 12.4996C7.20039 12.1996 7.20039 11.7496 7.50039 11.4496L15.5004 3.44961C15.8004 3.14961 16.2504 3.14961 16.5504 3.44961C16.7004 3.59961 16.7504 3.79961 16.7504 3.99961Z"
                    fill="#262626" />
            </svg>
        </button>
        <span class="text-[#262626] font-medium">More</span>
    </div>

    <main class="flex flex-col py-4 space-y-1">

        <a (click)="showMoreMenu()"
            class="relative cursor-pointer flex items-center shadow-sm bg-white py-2 px-4 justify-between">
            <span>Press</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-[#8E8E8E]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
        <a (click)="showMoreMenu()"
            class="relative cursor-pointer flex items-center shadow-sm bg-white py-2 px-4 justify-between">
            <span>API</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-[#8E8E8E]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
        <a (click)="showMoreMenu()"
            class="relative cursor-pointer flex items-center shadow-sm bg-white py-2 px-4 justify-between">
            <span>Jobs</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-[#8E8E8E]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
        <a (click)="showMoreMenu()"
            class="relative cursor-pointer flex items-center shadow-sm bg-white py-2 px-4 justify-between">
            <span>About</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-[#8E8E8E]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
        <a (click)="showMoreMenu()"
            class="relative cursor-pointer flex items-center shadow-sm bg-white py-2 px-4 justify-between">
            <span>Data Policy</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-[#8E8E8E]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
        <a (click)="showMoreMenu()"
            class="relative cursor-pointer flex items-center shadow-sm bg-white py-2 px-4 justify-between">
            <span>Terms</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-[#8E8E8E]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
        <a (click)="showMoreMenu()"
            class="relative cursor-pointer flex items-center shadow-sm bg-white py-2 px-4 justify-between">
            <span>Locations</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-[#8E8E8E]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </main>
</div>